# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pth
*.pt

# Data
*.mat

# Logs
*.log

# Environments
.venv
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Output
*.png
*.jpg
*.jpeg
*.pdf
